body {
    background: rgb(71, 69, 69);     
    color: rgb(202, 197, 197); 
}

.main{
               
    font-size: 20px;        
    font-weight: normal;
    text-align: center; 
    
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
}

.card{
    color: rgb(71, 69, 69);
    background:lightgray;
    
    margin-left: auto;
    margin-right: auto;
    border: 3px solid white;
    padding: 5px;
    
    text-align: center;
    
}

h1{
    margin: 26px;
}

h2{
    margin-top: 10px;
    margin-bottom: 10px;
}

button{
    margin-top: 10px;
    padding-left: 7.5px;
    padding-right: 7.5px;
    padding-top: 5px;
    padding-bottom: 5px;
}