/**
 * Tailwind CSS imports
 * View the full documentation at https://tailwindcss.com
 */
 @tailwind base;
 @tailwind components;
 @tailwind utilities;
 
 /**
  * WHAT IS THIS FILE?
  *
  * Globally applied styles. No matter which components are in the page or matching route,
  * the styles in here will be applied to the Document, without any sort of CSS scoping.
  *
  */
 
 :root {
   --glow-rgb: 255 255 210;
 }
 
 html {
   line-height: 1;
   -webkit-text-size-adjust: 100%;
   -moz-tab-size: 4;
   -o-tab-size: 4;
   tab-size: 4;
   font-family:
     ui-sans-serif,
     system-ui,
     -apple-system,
     BlinkMacSystemFont,
     "Segoe UI",
     Roboto,
     "Helvetica Neue",
     Arial,
     "Noto Sans",
     sans-serif,
     "Apple Color Emoji",
     "Segoe UI Emoji",
     "Segoe UI Symbol",
     "Noto Color Emoji";
 }
 
 body {
   padding: 0;
   margin: 0;
   line-height: inherit;
   background: radial-gradient( rgb(53, 48, 41), rgb(26, 22, 18));
 }
 
 * {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
 }
 
 .glow-point {
   position: absolute;
   box-shadow: 0rem 0rem 1.2rem 0.6rem rgb(var(--glow-rgb));
   pointer-events: none;
 }
 
 .star {
   position: absolute;
   z-index: 2;
   color: white;
   font-size: 1rem;
   animation-duration: 1500ms;
   animation-fill-mode: forwards;
   pointer-events: none;
 }
 
 @keyframes fall-1 {
   0% {
     transform: translate(0px, 0px) rotateX(45deg) rotateY(30deg) rotateZ(0deg) scale(0.25);
     opacity: 0;
   }
   
   5% {
     transform: translate(10px, -10px) rotateX(45deg) rotateY(30deg) rotateZ(0deg) scale(1);
     opacity: 1;
   }
   
   100% {
     transform: translate(25px, 200px) rotateX(180deg) rotateY(270deg) rotateZ(90deg) scale(1);
     opacity: 0;
   }
 }
 
 @keyframes fall-2 {
   0% {
     transform: translate(0px, 0px) rotateX(-20deg) rotateY(10deg) scale(0.25);
     opacity: 0;
   }
   
   10% {
     transform: translate(-10px, -5px) rotateX(-20deg) rotateY(10deg) scale(1);
     opacity: 1;
   }
   
   100% {
     transform: translate(-10px, 160px) rotateX(-90deg) rotateY(45deg) scale(0.25);
     opacity: 0;
   }
 }
 
 @keyframes fall-3 {
   0% {
     transform: translate(0px, 0px) rotateX(0deg) rotateY(45deg) scale(0.5);
     opacity: 0;
   }
   
   15% {
     transform: translate(7px, 5px) rotateX(0deg) rotateY(45deg) scale(1);
     opacity: 1;
   }
   
   100% {
     transform: translate(20px, 120px) rotateX(-180deg) rotateY(-90deg) scale(0.5);
     opacity: 0;
   }
 }